*,
*:after,
*:before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: black;
    background: url("/public/images/bg-repeat.png");
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: #f0f0f0;
    outline: none;
}

button a {
    color: black;
}

a:hover {
    color: #516977;
}

.text-center {
    text-align: center;
}

.page-header {
    background-color: #2C2D34;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}


#menu, #content, #footer {
    margin: 0 auto;
    width: 1300px;
    border: 1px solid #759396;
    background: #f6f6f6;
    margin-top: 50px;
}

#footer {
    margin-bottom: 40px;
}

/*********************************
*           MENU
**********************************/

#alertDatas {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
}

.alert {
    font-family: 'Droid Serif', sans-serif;
    position: relative;
    cursor: pointer;
    margin: 0 8px 8px 0;
    padding: 20px;
    z-index: 10000;
    color: white;
    opacity: 0.85;
    font-size: 16px;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.alert:hover {
    opacity: 0.5;
}

.alert.error {
    background-color: #f44336;
}

.alert.success {
    background-color: #3cb63f;
}


/*********************************
*           MENU
**********************************/

#menu {
    max-width: 100%;
    margin: 0 auto;
}

#menu ul {
    text-align: center;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}

#menu ul li a {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: #2C2D34;
    border-radius: 2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    color: #fff;
    padding: 10px 30px 10px 30px;
    text-transform:uppercase;
    font-size: 17px;
    text-decoration: none;
    display: block;
}

#menu ul li a:hover {
    background: #6000e6;
}

#menu .button-admin {
    background: #7e00ff !important;
}

#menu .button-admin:hover {
    background: #490092 !important;
}


#menu .button-logout {
    background: #ff4a48 !important;
}

#menu .button-logout:hover {
    background: #8f2d2c !important;
}


/*********************************
*           MENU
**********************************/


.table-elements {
    border: 1px solid #7e00ff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 35px auto;
    overflow: hidden;
    width: 100%;
}

.table-elements img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

table {
    width: 100%;
}
table td, table th {
    color: #7e00ff;
    padding: 10px;
}
table td {
    text-align: center;
    vertical-align: middle;
}
table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}
table th {
    background-color: #daeff1;
    font-weight: 300;
}
table tr:nth-child(2n) {
    background-color: white;
}
table tr:nth-child(2n+1) {
    background-color: #edf7f8;
}

/*********************************
*          INPUT STYLE
**********************************/

.input-number-wrapper {
    position: relative;
}

.input-number-wrapper:after,
.input-number-wrapper:before {
    position: absolute;
    right: 5px;
    width: 1.6em;
    height: .9em;
    font-size: 10px;
    pointer-events: none;
    background: #fff;
}

.input-number-wrapper:after {
    color: #49ff00;
    content: "\25B2";
    margin-top: 1px;
}

.input-number-wrapper:before {
    color: #ff0000;
    content: "\25BC";
    margin-bottom: 5px;
    bottom: -.5em;
}

/*********************************
*          FORM TEMPLATE
**********************************/

.form_template{
    width:450px;
    padding:30px;
    margin: 35px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form_template .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.form_template label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}
.form_template input[type="text"],
.form_template input[type="date"],
.form_template input[type="datetime"],
.form_template input[type="email"],
.form_template input[type="number"],
.form_template input[type="search"],
.form_template input[type="url"],
.form_template input[type="password"],
.form_template textarea,
.form_template select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form_template input[type="radio"] {
    display: block;
    width: 30%;
    text-align: left;
    margin-left: 15px;
}

.form_template .section{
    font: normal 20px 'Bitter', serif;
    color: #6000e6;
    margin-bottom: 5px;
}
.form_template .section span {
    background: #6000e6;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.form_template .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}

/*********************************
*             CART
**********************************/

.total-price {
    padding: 10px;
    text-align: right;
}

/*********************************
*           ADMIN
**********************************/

#admin-menu {
    text-align: center;
    margin: 40px auto 40px auto;
    width: 100%;
}

.admin-button {
    margin: 20px;
    height: 150px;
    width: 40%;
}